<img class="img-fluid bg-primary shadow-sm"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
    alt="">
 
<mat-nav-list dense class="mt-2">
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar
            src="https://www.flaticon.com/svg/vstatic/svg/3846/3846630.svg?token=exp=1613897103~hmac=e62b79ed2489c4f9a39b8c010515ba6a"
            alt="">
    </a>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Shop</span></span>
        <img matListAvatar
            src="https://www.flaticon.com/premium-icon/icons/svg/2984/2984692.svg"
            alt="">
    </a>
    <mat-divider class="mt-4"></mat-divider>
    <h3 matSubheader>Dashbord</h3>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Summary</span></span>
        <img matListAvatar
            src="https://www.flaticon.com/svg/vstatic/svg/2758/2758702.svg?token=exp=1613897898~hmac=d8c737a885177f0f2cae715a107c3898"
            alt="">
    </a>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Customer</span></span>
        <img matListAvatar
            src="https://www.flaticon.com/svg/vstatic/svg/4143/4143099.svg?token=exp=1614171528~hmac=7379c733d5e73fbc7d1737f202325d80"
            alt="">
    </a>
</mat-nav-list>